
#pane{
    -fx-background-image: url("./images/background.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#title{
    -fx-image: url("./images/titel.png");
    -fx-alignment: baseline-center;
}

#catimage{
    -fx-image: url("./images/catpic.png");
    -fx-alignment: baseline-center;
}


#startbutton{
    -fx-background-color: rgba(171,0,46,0.5);
    -fx-background-radius: 0%;
    -fx-pref-height: 40px;
    -fx-pref-width: 200px;

}

#rulesbutton{
    -fx-background-color: rgba(171,0,46,0.5);
    -fx-background-radius: 0%;
    -fx-pref-height: 30px;
    -fx-pref-width: 100px;

}